assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
.DS_STORE
.DS_Store
.buildpath
.project
.settings
*.scss
*.*~
nbproject
database
protected/config/application/database.php